.termos {
  padding-top: 7.5rem;
  padding-bottom: 7.5rem;
}

.termos h2 {
  margin-bottom: 1.25rem;
}

.termos p {
  margin-bottom: 1.5rem;
  max-width: 70ch;
  font-weight: 400;
}

.termos p + h2 {
  margin-top: 3rem;
}

@media (max-width: 800px) {
  .termos {
    padding-top: 3.75rem;
    padding-bottom: 3.75rem;
  }
}