.form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.25rem;
}

.form label {
  display: block;
  font: 400 1rem/1.5 var(--font-display);
  margin-bottom: .25rem;
}

.form .col-2 {
  grid-column: span 2;
}

.form input[type="text"],
.form input[type="email"],
.form textarea {
  font: 400 1rem/1.5 var(--font-body);
  background: var(--c1);
  border: 1px solid var(--c2);
  border-radius: .3125rem;
  padding: .75rem;
  width: 100%;
}

.form input[type="text"]:focus,
.form input[type="email"]:focus,
.form textarea:focus {
  outline: none;
  border-color: var(--p1);
  background: var(--c0);
  box-shadow: 0 0 0 .175rem #fea;
}

@media (max-width: 600px) {
  .form {
    grid-template-columns: 1fr;
  }

  .form .col-2 {
    grid-column: 1;
  }
}