:root {
  --w: #fff;
  --c10: #2e2e2e;
  --c11: #111;
  --c12: #000;
}

* {
  box-sizing: border-box;
}

body{
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

a {
  text-decoration: none;
}