.bicicleta {
  padding-top: 3.75rem;
  padding-bottom: 3.75rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2.5rem;
  align-items: start;
  background: url("../../pictures/dec/bottom-left.svg") no-repeat bottom 2.5rem left 0;
}

.bicicleta-imagens {
  display: flex;
  flex-wrap: wrap;
  gap: 1.25rem;
}

.bicicleta-imagens picture {
  flex: 1;
  height: auto;
}

.bicicleta-imagens picture:first-child {
  min-width: 100%;
}

.bicicleta-conteudo > p {
  margin-bottom: 2rem;
}

.bicicleta-comprar {
  display: grid;
  grid-template-columns: max-content auto;
  gap: .75rem;
  align-items: center;
  margin-bottom: 2.5rem;
  justify-items: start;
}

.bicicleta-comprar a {
  grid-row: span 2;
}

.bicicleta-comprar span {
  display: flex;
  align-items: center;
  gap: .5rem;
  background: var(--c12);
  padding: .25rem .5rem;
  border-radius: .3125rem;
}

.bicicleta h2 {
  text-transform: uppercase;
  letter-spacing: 1.5%;
  margin-bottom: .75rem;
}

.bicicleta-informacoes,
.bicicleta-ficha {
  padding: 2rem;
  background: var(--c12);
  border-radius: .3125rem;
}

.bicicleta-informacoes {
  margin-bottom: 2.5rem;
}

.bicicleta-informacoes {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.bicicleta-informacoes img {
  width: 1.5rem;
  height: 1.5rem;
  margin-bottom: .5rem;
}

.bicicleta-informacoes h3 {
  margin-bottom: .5rem;
}

.bicicleta-ficha li {
  padding: .25rem 0;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--c11);
} 

.bicicleta-ficha li:last-child {
  border-bottom: none;
}

@media (max-width: 1400px) {
  .bicicleta {
    background: url("../../pictures/dec/bottom-left.svg") no-repeat bottom 2.5rem left 2.5rem;
  }
}

@media (max-width: 800px) {
  .bicicleta {
    grid-template-columns: 1fr;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    background: initial;
  }
}

@media (max-width: 800px) {
  .bicicleta-informacoes,
  .bicicleta-comprar {
    grid-template-columns: 1fr;
  }
}