.introducao-bg {
  background: var(--c12);
  color: var(--w);
  box-shadow: var(--scoop);
}

.introducao {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0 2.5rem;
  max-width: 1200px;
  padding: 0 1.25rem 0 1.25rem;
  margin: 0 auto;
}

.introducao-conteudo {
  align-self: end;
  padding-bottom: 12.5rem; /*valor desejado + 7.5rem para compensar a sombra criada para a imagem vazar*/
}

.introducao h1 {
  padding-bottom: 2rem;
  font-size: 4rem;
  line-height: 1.125;
  font-family: var(--poppins);
}

.introducao p {
  margin-bottom: 1.25rem;
  font-size: 1.5rem;
  line-height: 1.5;
  color: var(--c5);
  font-family: var(--roboto);
}

@media (max-width: 600px) {
  .introducao a {
    padding: .75rem 1rem;
    font-size: 1rem;
  }
}

.introducao img {
  height: 100%;
  object-fit: cover;
  border-radius: .25rem;
}

@media (max-width: 1200px) {
  .introducao h1 {
    font-size: 3rem;
  }

  .introducao p {
    font-size: 1.125rem;
  }
}

@media (max-width: 800px) {
  .introducao-bg {
    background: var(--c11);
    padding-top: 2.5rem;
    box-shadow: var(--scoop-mb);
  }

  .introducao {
    grid-template-columns: 1fr;
    gap: 2rem;
  }

  .introducao-conteudo {
    padding-bottom: 0;
  }

  .introducao h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  .introducao img {
    height: 300px;
    width: 100%;
  }
}