.perguntas {
  padding-top: 7.5rem;
  padding-bottom: 7.5rem;
}

.perguntas h2 {
  margin-bottom: 3.75rem;
}

.perguntas dl > div {
  padding: 1.25rem;
  border-radius: .25rem;
}

.perguntas dl > div:nth-child(odd) {
  background: var(--c1);
}

.perguntas button {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  gap: .5rem;
  cursor: pointer;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
}

.perguntas button::before {
   content: "";
   display: inline-block;
   width: .75rem;
   height: .5rem;
   background: var(--p1);
}

.perguntas button::after {
  content: "";
  display: inline-block;
  width: .875rem;
  height: .375rem;
  background: url("../../pictures/icones/seta-abrir.svg");
  transform: rotate(180deg);
  transition: 0.3s;
}

.perguntas button:hover::after,
.perguntas button[aria-expanded="true"] {
  transform: rotate(360deg);
}

:not(.js) .perguntas dd {
  display: block;
  padding-left: 1.25rem;
  padding-top: 1rem;
  max-width: 80ch;
}

.js .perguntas dd {
  display: none;
}

.js .perguntas dd.ativo {
  display: block;
}

@media (max-width: 800px) {
  .perguntas {
    padding-top: 3.75rem;
    padding-bottom: 3.75rem;
  }

  .perguntas h2 {
    margin-bottom: 2.5rem;
  }
}