.vantagens-bg {
  background: var(--c12);
}

.vantagens {
  padding-top: 7.5rem;
  padding-bottom: 7.5rem;
  gap: 2.5rem;
}

.vantagens h2 {
  margin-bottom: 3.75rem;
}

.vantagens ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2.5rem 5rem;
}

.vantagens-item img {
  margin-bottom: .5rem;
}

.vantagens-item h3 {
  margin-bottom: .5rem;
}

@media (max-width: 800px) {
  .vantagens {
    padding-top: 3.75rem;
    padding-bottom: 3.75rem;
  }

  .vantagens ul {
    grid-template-columns: 1fr 1fr;
  }

  .vantagens-item h3 {
    font-size: 1.25rem;
  }

  .vantagens-item p {
    font-size: 1rem;
  }
}

@media (max-width: 600px) {
  .vantagens h2 {
    margin-bottom: 2.5rem;
  }

  .vantagens ul {
    grid-template-columns: 1fr;
  }
}